// Navigation Styles here




//REM for fonts, PX for heights, % for left and right margins, paddings, width

nav {
    height: 90px;
    width: 100%;
    border-bottom: @border-bottom;
    .custom-layout(flex-end, center);

    a {
        text-decoration: none;
        color: @font-color;
        margin-right: 5%;
    }
}


//// .custom-layout(center, center);
//.custom-layout(@justify, @align) {
//    display: flex;
//    justify-content: @justify;
 //   align-items: @align;
  //}
//